@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* tag backgroud-color */
.bg-purple{
    background-color: #6F42C1;
}

.bg-purple-2{
    background-color: #BB6BD9;
}

.bg-purple-3{
  background-color: #E5DCF5;

}

.bg-orange{
  background-color: #F0BA47;
}

.bg-red{
  background-color: #F64C32;
}

.bg-blue{
  background-color: #09A4DB;
}

.text-gray{
  color: #6C757D;
}

.text-purple{
  color: #6F42C1;
}

.bg-white{
    background-color: white;
}

.btn-purple{
  background-color: #6F42C1;
  color: white;
}


/* header nav */
.header-img{
  width: 65px;
}

@media (max-width: 576px) {
  .header-img{
    width: 40px;
  }

}

@media (min-width: 768px) {
  .header-img{
    width: 50px;
  }
 }

 @media (min-width: 1200px) {
   .header-img{
     width: 65px;
   }
 }

/* web-hero */
@media (min-width: 1200px) {
  .web-hero{
    background-image: url('../assets/img/bg-hero-1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 574px;
    margin-top: 60px;

  }

  .web-hero-items{
    padding-top: 245px;
  }

  .garis{
    width: 359px;
    height: 18px;
    margin-left: 155px;
    margin-top: -22px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .web-hero{
    background-image: url('../assets/img/bg-hero-1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 574px;
    margin-top: 60px;

  }

  .web-hero-items{
    padding-top: 245px;
  }

  .garis{
    display: contents;
  }
}

@media (max-width: 922px) {
  .web-hero{
    background-image: url('../assets/img/bg-hero-1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 460px;
    margin-top: -42px;
  }

  .web-hero-items{
    padding-top: 245px;
  }

  .web-hero-items{
    padding-top: 180px;
  }

  .web-hero-items h5{
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .web-hero{
    display: contents;

  }

  .web-hero-items{
    padding-top: 150px;
    text-align: center;
  }

  .web-hero-items h5{
    font-size: 14px;
  }

  .btn-purple{
    background-color: #6F42C1;
    color: white;
    font-size: 10px;
  }
}


/* title prodi */
.title-prodi{
  padding-top: 80px;
  padding-bottom: 70px;
}


/* title uap */
.title-uap{
  padding-top: 80px;
  padding-bottom: 40px;
}


/* Berita */
.title-berita{
  padding-top: 80px;
  padding-bottom: 40px;
}



/* Berita Terbaruu */

/* Web Link */
.web-link{
  padding-top: 120px;
  padding-bottom: 20px;
}

.web-link a{
  text-decoration: none;
}

/* Berita Kampus */
.berita-kampus{
  padding-top: 44px;
}

.color-link{
  color: black;
}

/* Berita kampus 1 */

.berita-kampus-1{
  padding-top: 44px;
}


/* Fakultas Kesehaan */
.web-carousel{
  padding-top: 0px;
}

.web-hero-kesehatan{
  padding-top: 50px;
}

@media (max-width: 991.98px) {
  .img-hero-kes img{
    width: 70%;
  }
}

/* web-visi-misi */
.web-visi-misi{
  padding-top: 50px;
}

/* web-program-studi */
.web-program-studi{
  padding-top: 40px;
}

.card-hover a{
  background-image: url('assets/img/berita-1.png');
  text-decoration: none;
}
.card-hover a:hover{
  b-image: url(assets/img/berita-1.png) no-repeat;
}

/* web-galery-kes */
.web-galery-kes{
  padding-top: 40px;
}



@media (min-width: 1400px) {
  .w-dropdown{
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .w-dropdown{
    width: 100%;
  }
}
